inner/src/main/resources/mach/MachIs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 (x64) (http://www.altova.com) by Mark Shepstone (Yambay) -->
<xsd:schema xmlns="http://www.yambay.com/schemas" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.yambay.com/schemas" elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <!--******** header details for a message sent to the MACH InteractionServer-->
    <xsd:complexType name="MsgHeader">
        <xsd:annotation>
            <xsd:documentation>Common header details for the message.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="MessageExternalSourceEnv" type="ExternalSource">
                <xsd:annotation>
                    <xsd:documentation>The identifier of the external source enviornment that the message has originated
                        from. EG: CE_MW_TEST, CE_MW_PROD. This wil be used by MDS to detrmine if the external system is
                        authaaurised to send a message to the mDrover server instance
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MessageMACHSubSystem">
                <xsd:annotation>
                    <xsd:documentation>The MACH Interaction Server Sub-System that the message relates to.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="MACHSubSystem">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MessageRefId">
                <xsd:annotation>
                    <xsd:documentation>A unique identifier for the message. The id will be unique within the source
                        system (as defined by the element MessageExternalSource) that generated the message.
                        It will be passed back as part of a response if a resaponse is required for the message.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="OriginMessageExternalSourceEnv" type="ExternalSource" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The identifier of the external source environment that the original message has
                        originated from
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OriginMessageRefId" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A unique identifier for the message that was the origin for this message. For
                        example, the OriginMessageRefID for a status update message will be the original
                        JobDispatchMessage that caused the job to be sent to the MDT.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AppMessageType" type="AppMessageType">
                <xsd:annotation>
                    <xsd:documentation>The Message Type. The logic that the MACH Interaction Server will execute depends
                        on the Message Type.
                        The Message type will match the subsequent Element name, for example login, logoff, new.job.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="TestCaseCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>An optional test harness identifyier, used in automated test cases
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MessageShortDescr">
                <xsd:annotation>
                    <xsd:documentation>A short description of message.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MessageLongDescr">
                <xsd:annotation>
                    <xsd:documentation>A long description of the message.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="250"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MessageTimeStamp" type="xsd:dateTime" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Timestamp of the Message in Milliseconds</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="BatchId" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Id of the batch this request is a part of, if applicable.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="OrderKey" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Order key of this request, if sequencing is important</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ExternalSystemNotificationType" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MessageSourceSystem" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="AppMessageType">
        <xsd:annotation>
            <xsd:documentation>The type of message being sent / received</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="MACHSubSystem">
        <xsd:annotation>
            <xsd:documentation>The MACH subsystem that the message is related to.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ExternalSource">
        <xsd:annotation>
            <xsd:documentation>The external source of the message.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--***********************  Mach IS Data Types-->
    <xsd:simpleType name="UserId">
        <xsd:annotation>
            <xsd:documentation>The unique identifier for a user within the mDrover system.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
            <xsd:minLength value="0"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ExtUserId">
        <xsd:annotation>
            <xsd:documentation>The unique identifier for a user within a system external to mDrover</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
            <xsd:minLength value="0"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="UserName">
        <xsd:annotation>
            <xsd:documentation>The name for a user as defined within the mDrover system.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
            <xsd:minLength value="0"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ISTimeToLive">
        <xsd:annotation>
            <xsd:documentation>MACH Interaction Server type used to determine the amount of time (in seconds) that may
                elapse after the MACH Interaction Server has started attempting to dispatch a Job before it gives up and
                informs the external interface.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:int"/>
    </xsd:simpleType>
    <xsd:simpleType name="ISMultiLineText">
        <xsd:annotation>
            <xsd:documentation>MACH Interaction</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="500"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="DispatchInstructions">
        <xsd:annotation>
            <xsd:documentation>Instructions on how the MACH Interaction Server should dispatch the information to a
                device.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Recipient" type="ExtUserId">
                <xsd:annotation>
                    <xsd:documentation>The UserID (as defined by the external system) of the field officer who is to
                        recieve the message
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RecipientType" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TimeToLive" type="ISTimeToLive">
                <xsd:annotation>
                    <xsd:documentation>The amount of time (in seconds) that may elapse after the MACH Interaction Server
                        has started attempting to dispatch a message before it gives up and informs the external
                        interface.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="HoldUntilLogon" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Should the Monility Server hold the dispatch instruction until the user logs
                        on?
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RequestAdditionalDetails" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Shoule the Mobility Server request additional details from the external system
                        prior to dispatching the job?
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DeviceRole" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
