inner/src/main/resources/mdff/mDroverBase.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2013 rel. 2 (x64) (http://www.altova.com) by Mark Shepstone (Yambay) -->
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://www.yambay.com/schemas" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.yambay.com/schemas" elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:include schemaLocation="../mach/MachIs.xsd"/>
    <xsd:annotation>
        <xsd:documentation>Message Types - Inbound to the Mobility Server</xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="ForceLogOff">
        <xsd:sequence>
            <xsd:element name="MsgHeader" type="MsgHeader"/>
            <xsd:element name="MsgBody" type="ForceLogOffMsgBody"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ForceLogOffMsgBody">
        <xsd:sequence>
            <xsd:element name="DispatchInstructions" type="DispatchInstructions" minOccurs="0"/>
            <xsd:element name="UserCriteria" minOccurs="0">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="LoggedOnHours" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Only users who have been logged on for equal to or longer than this
                                    amount of time (in hours) will be logged off.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="LoggedOnMinutes" type="xsd:int" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Only users who have been logged on for equal to or longer than this
                                    amount of time (in minutes) will be logged off.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="CommsStatus" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Can be either Online, Ofline, or All. Only users with this device
                                    status will be logged off. Defaults to All.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="Region" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Must match a region code configured on the server. Only users
                                    assigned to this region will be logged off.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="JobAssignmentStatus" type="xsd:string" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>Can be either Active, Inactive, or All. Only users with this job
                                    assignment status will be logged off. Defaults to All.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GracePeriod" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Specifies the amount of grace time the user will be allowed before they are force
                        loged off. If zero, they will be logged off
                        immediately.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Reason" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>String description of the reason for the force logoff. This message will be sent
                        the mobile user.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:annotation>
        <xsd:documentation>mDrover Response Message - can be returned by Mobility Server or Customer Web Service
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType name="mDroverResponse">
        <xsd:annotation>
            <xsd:documentation>Notifies of success or failure of a mDrover message sent to the mDrover Interaction
                Server or to a Customer Web Service
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ResponseCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>ID the identifies the response</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ResponseDesc" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The description of the response</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
